<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EJS Template</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <h1>Hello, <%= name %>! Your EJS is working!</h1>
  <% if ( name === "Victor" ) { %>
    <p><%= name %> is a cool guy, huh?</p>
  <% } else { %>
    <p>Hmmm! You‘re not Victor! You are <%= name %></p>
  <% } %>
</body>
</html>